/* General */
body {
    margin: 0;
    background-color: #8B0000; /* Fondo externo en rojo oscuro */
}

/* Ventana del navegador */
.browser-window {
    width: 90%;
    height: 90%;
    max-width: 1015px;
    max-height: 611px;
    background-color: white;
    border: 8px solid #0e3f58; /* Azul oscuro */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* Contenido */
.content {
    text-align: center;
    padding: 50px 20px;
    background-color: #008B8B; /* Verde azulado */
    height: 100%;
    position: relative;
}

/* Fondo con árboles */
.tree-background {
    background: url('trees.png') no-repeat center;
    background-size: contain;
    padding: 30px;
}

/* Título */
.logo-text {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    color: white;
    font-family: "Georgia", serif;
}

/* Barra de búsqueda */
.search-container {
    margin-top: 50px;
}

.search-box {
    max-width: 500px;
    background-color: #774d1e;
}

.search-box input {
    outline: none;
    color: white;
    background: none;
}

.search-box button {
    cursor: pointer;
    background: none;
    border: none;
}

/* Botón de cierre de sesión */
.logout-container {
    top: 20px;
    right: 20px;
    position: absolute;
    text-align: center;
}

.logout-btn {
    border: none;
    background: none;
    padding: 0;
}

.logout-icon {
    width: 50px;
    height: 50px;
    background-color: #774d1e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5ecd9; /* Color de la lechuza */
    font-size: 25px;
}

.logout-text {
    display: block;
    color: #f5ecd9;
    font-size: 14px;
    margin-top: 5px;
}
